<div style="background-color: #f9f9f9; text-align: center; padding: 1rem 0">
  <h1 style="margin: 2.5rem 0">Tindog</h1>
  <div
    style="
      max-width: 500px;
      margin: auto;
      background-color: #fff;
      padding: 2.5rem 3rem;
      text-align: center;
    "
  >
    <p style="font-size: 1rem; margin-bottom: 2rem; color: #737f8d">
      Please click this link to reset your password.
    </p>
    <a
      style="
        border-radius: 0.25rem;
        text-decoration: none;
        padding: 1rem 1.5rem;
        background-color: #f27677;
        width: 100px;
        color: white;
        font-size: 1rem;
        line-height: 3rem;
      "
      href="{{frontendLink}}"
      target="_blank"
      >Reset Password</a
    >
  </div>
</div>
